<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">

    {% if update %}
    <form id="update_contact" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button form="update_contact" type="submit">Редактировать</button>
        <button type="submit"><a href="{% url 'edit_contact' %}">Вернуться назад</a></button>
    </form>
    {% else %}

    <tr>
        <th>Имя контакта</th>
        <th>Фамилия контакта</th>
        <th>Отчество контакта</th>
        <th>Номер контакта</th>
        <th>Тип номера</th>
        <th>Удаление контакта</th>
        <th>Редактирование контакта</th>
    </tr>

    {% for item in contact %}
    <tr>
        <td>{{ item.surname }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.patronymic }}</td>
        <td>{{ item.numbers }}</td>
        <td>{{ item.types_in_phone }}</td>
        <td><a href="{% url 'delete_contact' item.id %}">Удалить контакт</a></td>
        <td><a href="{% url 'update_contact' item.id %}">Редактировать контакт</a></td>
    </tr>
    {% endfor %}

    {% endif %}

</table>

<button type="submit"><a href="{% url 'home' %}">На главную</a></button>

</body>
</html>
