<!DOCTYPE html>
{% load static %}
{% load render_table from django_tables2 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>

    <div class="logo">
        <a href="index.html">
            <span class="use">TELE</span>-<span class="web">BOOK</span>
        </a>

    </div>

    <div class="top-menu">
        <ul>
            {% if request.user.is_authenticated %}
            <li><a class="clickMenu" href="{% url 'edit_contact' %}">Редактировать/Удалить</a></li>
            <li><a href="{% url 'add_contact' %}">Добавить контакт</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="block-top-auth">
        {% if request.user.is_authenticated %}
        <p><a href="">Добро пожаловать</a></p>
        <p><a href="{% url 'logout' %}">Выход</a></p>
        {% else %}
        <p><a href="{% url 'login' %}">Вход</a></p>
        <p><a href="{% url 'register' %}">Регистрация</a></p>
        {% endif %}
    </div>

</header>

<div class="content-telebook">

<form method="get">
    {{ filter.form.as_p }}
    <input type="submit">
</form>

</div>

<div class="table-list">
 {% render_table object_list %}
</div>


</body>
</html>


